<package-def>
    <module name="КомандаExists" file="src/Модули/КомандаExists.os"/>
    <module name="КомандаVersion" file="src/Модули/КомандаVersion.os"/>
    <module name="КомандаReport" file="src/Модули/КомандаReport.os"/>
    <module name="КомандаUser" file="src/Модули/КомандаUser.os"/>
    <module name="КомандаUserList" file="src/Модули/КомандаUserList.os"/>
    <module name="КомандаUserSearch" file="src/Модули/КомандаUserSearch.os"/>
    <module name="КомандаUserDelete" file="src/Модули/КомандаUserDelete.os"/>
    <module name="КомандаUserRestore" file="src/Модули/КомандаUserRestore.os"/>
    <module name="КомандаUserAdd" file="src/Модули/КомандаUserAdd.os"/>
    <module name="КомандаUserUpdate" file="src/Модули/КомандаUserUpdate.os"/>
</package-def>